### P012 特征提取-元素的个数

In [1]:
import pandas as pd

In [2]:
data_dict = {
    'currency': [['PLN', 'USD'], 
                 ['EUR', 'USD', 'PLN', 'CAD'], 
                 ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}

In [3]:
df = pd.DataFrame(data=data_dict)

In [4]:
df

               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []

In [5]:
type(df.iloc[0][0])

list

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  5 non-null      object
dtypes: object(1)
memory usage: 168.0+ bytes

In [7]:
df['number'] = df['currency'].apply(len)

In [8]:
type(df.iloc[0][0])

list

In [9]:
df

               currency  number
0            [PLN, USD]       2
1  [EUR, USD, PLN, CAD]       4
2                 [GBP]       1
3       [JPY, CZK, HUF]       3
4                    []       0

### P013 特征提取-是否包含元素

In [10]:
import pandas as pd

data_dict = {
    'currency': [['PLN', 'USD'], 
                 ['EUR', 'USD', 'PLN', 'CAD'], 
                 ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}

df = pd.DataFrame(data=data_dict)

In [11]:
df

               currency
0            [PLN, USD]
1  [EUR, USD, PLN, CAD]
2                 [GBP]
3       [JPY, CZK, HUF]
4                    []

In [12]:
df['USD_flag'] = df['currency'].apply(
    lambda x: 1 if 'USD' in x else 0)

In [13]:
df

               currency  USD_flag
0            [PLN, USD]         1
1  [EUR, USD, PLN, CAD]         1
2                 [GBP]         0
3       [JPY, CZK, HUF]         0
4                    []         0

### P014 特征提取-从字符串提取标签

In [15]:
import pandas as pd
df = pd.DataFrame({
    'tags': ['#good#vibes', '#hot#summer#holiday', 
             '#street#food', '#workout']
})
df

                  tags
0          #good#vibes
1  #hot#summer#holiday
2         #street#food
3             #workout

In [16]:
df['tags'].str.split('#')

0             [, good, vibes]
1    [, hot, summer, holiday]
2            [, street, food]
3                 [, workout]
Name: tags, dtype: object

In [17]:
df = df['tags'].str.split('#', expand=True)
df

  0        1       2        3
0       good   vibes     None
1        hot  summer  holiday
2     street    food     None
3    workout    None     None

In [18]:
df = df.drop(columns=[0])
df

         1       2        3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

In [19]:
df.columns = ['tag1', 'tag2', 'tag3']
df

      tag1    tag2     tag3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

### P015 特征提取-每行缺失值个数

In [20]:
df

      tag1    tag2     tag3
0     good   vibes     None
1      hot  summer  holiday
2   street    food     None
3  workout    None     None

In [21]:
df['missing'] = df.isnull().sum(axis=1)
df

      tag1    tag2     tag3  missing
0     good   vibes     None        1
1      hot  summer  holiday        0
2   street    food     None        1
3  workout    None     None        2

### P016 特征提取-字符串清理转数字

In [22]:
import pandas as pd

In [23]:
import pandas as pd
df = pd.DataFrame({
    'investments': ['100_000_000', '100_000', 
                    '30_000_000', '100_500_000']
})
df

   investments
0  100_000_000
1      100_000
2   30_000_000
3  100_500_000

In [24]:
df['investments'] = df['investments'].str.replace('_', '').astype(int)

In [25]:
df

   investments
0    100000000
1       100000
2     30000000
3    100500000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   investments  4 non-null      int64
dtypes: int64(1)
memory usage: 160.0 bytes