### P025 预估目标字段编码

In [1]:
import pandas as pd

In [2]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}
 
df = pd.DataFrame(data=data)

In [3]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [4]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [5]:
df['bought'] = label_encoder.fit_transform(df['bought'])

In [6]:
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0     500       1
1    L  green    male   89.0     450       0
2    M   blue    male   99.0     300       1
3    L  green  female  129.0     380       0
4    M    red  female   79.0     410       1

In [7]:
label_encoder.classes_

array(['no', 'yes'], dtype=object)

In [8]:
label_encoder.inverse_transform(df['bought'])

array(['yes', 'no', 'yes', 'no', 'yes'], dtype=object)

### P026 分类特征类型编码

In [9]:
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0     500       1
1    L  green    male   89.0     450       0
2    M   blue    male   99.0     300       1
3    L  green  female  129.0     380       0
4    M    red  female   79.0     410       1

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
oneHotEncoder = OneHotEncoder(sparse=False)

In [12]:
oneHotEncoder.fit(df[['size']])

OneHotEncoder(sparse=False)

In [13]:
oneHotEncoder.transform(df[['size']])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [14]:
oneHotEncoder.categories_

[array(['L', 'M', 'XL'], dtype=object)]