### P001 - 构建DataFrame，检测缺失值个数

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

### P002 - 使用 SimpleImputer 填充 weight 列的缺失值

In [5]:
from sklearn.impute import SimpleImputer

In [6]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [7]:
df[["weight"]] = imputer.fit_transform(df[["weight"]])

In [8]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   415.0     no

### P003 - 获取 SimpleImputer 填充缺失值 的统计值

In [9]:
imputer.statistics_

array([415.])

In [10]:
imputer.statistics_[0]

415.0

### P004 - 使用常量数值填充price缺失值

In [11]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   415.0     no

In [12]:
from sklearn.impute import SimpleImputer

In [13]:
imputer = SimpleImputer(
    missing_values=np.nan,
    strategy="constant",
    fill_value=99.0
)

In [14]:
df[["price"]] = imputer.fit_transform(df[["price"]])

In [15]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN   99.0   300.0    yes
3  NaN  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   415.0     no

In [16]:
imputer.statistics_

array([99.])

### P005 使用最频繁的值做缺失值填充

In [17]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN   99.0   300.0    yes
3  NaN  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   415.0     no

In [18]:
imputer = SimpleImputer(missing_values=np.nan, strategy="most_frequent")

In [19]:
df[["size"]] = imputer.fit_transform(df[["size"]])

In [20]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN   99.0   300.0    yes
3    M  green  female  129.0   415.0     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0   415.0     no

### P006 按空值过滤并计算均值

In [21]:
data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}
df = pd.DataFrame(data)
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

In [24]:
df[~df["weight"].isnull()].select_dtypes(include=['float']).mean()

price     122.333333
weight    415.000000
dtype: float64

### P007 使用常量填充字符串列

In [25]:
data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}
df = pd.DataFrame(data)
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

In [26]:
from sklearn.impute import SimpleImputer

In [27]:
imputer = SimpleImputer(missing_values=np.nan, strategy='constant', fill_value="empty")

In [28]:
columns = df.select_dtypes(include=['object']).columns

In [29]:
columns

Index(['size', 'color', 'gender', 'bought'], dtype='object')

In [31]:
df.loc[:, columns] = imputer.fit_transform(df[columns])

In [32]:
df

    size  color  gender  price  weight bought
0     XL    red  female  199.0   500.0    yes
1      L  green    male   89.0   450.0     no
2      M   blue   empty    NaN   300.0    yes
3  empty  green  female  129.0     NaN     no
4      M    red  female   79.0   410.0    yes
5      M  green    male   89.0     NaN     no