### P012 特征提取-元素的个数

In [ ]:
import pandas as pd

In [ ]:
data_dict = {
    'currency': [['PLN', 'USD'], 
                 ['EUR', 'USD', 'PLN', 'CAD'], 
                 ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}

In [ ]:
df = pd.DataFrame(data_dict)
df

In [ ]:
df.info()

In [ ]:
type(df.iloc[0][0])

In [ ]:
df["number"] = df["currency"].map(len)

In [ ]:
df

### P013 特征提取-是否包含元素

In [ ]:
import pandas as pd

data_dict = {
    'currency': [['PLN', 'USD'], 
                 ['EUR', 'USD', 'PLN', 'CAD'], 
                 ['GBP'], ['JPY', 'CZK', 'HUF'], []]
}

df = pd.DataFrame(data=data_dict)
df

In [ ]:
df["USD_flag"] = df["currency"].map(
    lambda x : 1 if "USD" in x else 0
)

In [ ]:
df

### P014 特征提取-从字符串提取标签

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'tags': ['#good#vibes', '#hot#summer#holiday', 
             '#street#food', '#workout']
})
df

In [ ]:
df = df["tags"].str.split("#", expand=True)
df

In [ ]:
df = df.drop(columns=[0])
df

In [ ]:
df.columns = ["tag1", "tag2", "tag3"]

In [ ]:
df

### P015 特征提取-每行缺失值个数

In [ ]:
df.isnull().sum()

In [ ]:
df["missing"] = df.isnull().sum(axis=1)

In [ ]:
df

### P016 特征提取-字符串清理转数字

In [1]:
import pandas as pd
df = pd.DataFrame({
    'investments': ['100_000_000', '100_000', 
                    '30_000_000', '100_500_000']
})
df

   investments
0  100_000_000
1      100_000
2   30_000_000
3  100_500_000

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   investments  4 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [3]:
df["investments"] = df["investments"].str.replace("_", "").astype(int)

In [4]:
df

   investments
0    100000000
1       100000
2     30000000
3    100500000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   investments  4 non-null      int64
dtypes: int64(1)
memory usage: 160.0 bytes