### P025 预估目标字段编码

In [1]:
import pandas as pd

In [2]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}
 
df = pd.DataFrame(data=data)

In [3]:
df

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
labelEncoder = LabelEncoder()

In [6]:
df["bought"] = labelEncoder.fit_transform(df["bought"])

In [7]:
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0     500       1
1    L  green    male   89.0     450       0
2    M   blue    male   99.0     300       1
3    L  green  female  129.0     380       0
4    M    red  female   79.0     410       1

In [8]:
labelEncoder.classes_

array(['no', 'yes'], dtype=object)

In [9]:
labelEncoder.inverse_transform(df["bought"])

array(['yes', 'no', 'yes', 'no', 'yes'], dtype=object)

### P026 分类特征类型编码

In [10]:
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0     500       1
1    L  green    male   89.0     450       0
2    M   blue    male   99.0     300       1
3    L  green  female  129.0     380       0
4    M    red  female   79.0     410       1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      int32
dtypes: float64(1), int32(1), int64(1), object(3)
memory usage: 348.0+ bytes

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
oneHotEncoder = OneHotEncoder(sparse=False)

In [15]:
oneHotEncoder.fit(df[["size"]])

OneHotEncoder(sparse=False)

In [16]:
oneHotEncoder.transform(df[["size"]])

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [17]:
oneHotEncoder.categories_

[array(['L', 'M', 'XL'], dtype=object)]