### P037 多项式特征 - 单个变量的多项式特征

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.preprocessing import PolynomialFeatures

In [3]:
df = pd.DataFrame(
    data = np.arange(10),
    columns = ["x"]
)
df

   x
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [4]:
poly = PolynomialFeatures(degree=2)

In [5]:
df_poly = poly.fit_transform(df)

In [6]:
df_poly

array([[ 1.,  0.,  0.],
       [ 1.,  1.,  1.],
       [ 1.,  2.,  4.],
       [ 1.,  3.,  9.],
       [ 1.,  4., 16.],
       [ 1.,  5., 25.],
       [ 1.,  6., 36.],
       [ 1.,  7., 49.],
       [ 1.,  8., 64.],
       [ 1.,  9., 81.]])

### P038 多项式特征 - 多个变量的多项式特征

In [7]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures

In [8]:
df = pd.DataFrame({
 "x" : np.arange(10),
 "y" : np.arange(10, 20)
})

In [9]:
df

   x   y
0  0  10
1  1  11
2  2  12
3  3  13
4  4  14
5  5  15
6  6  16
7  7  17
8  8  18
9  9  19

In [13]:
poly = PolynomialFeatures(degree=3)

In [14]:
df_poly = poly.fit_transform(df)

In [15]:
df_poly

array([[1.000e+00, 0.000e+00, 1.000e+01, 0.000e+00, 0.000e+00, 1.000e+02,
        0.000e+00, 0.000e+00, 0.000e+00, 1.000e+03],
       [1.000e+00, 1.000e+00, 1.100e+01, 1.000e+00, 1.100e+01, 1.210e+02,
        1.000e+00, 1.100e+01, 1.210e+02, 1.331e+03],
       [1.000e+00, 2.000e+00, 1.200e+01, 4.000e+00, 2.400e+01, 1.440e+02,
        8.000e+00, 4.800e+01, 2.880e+02, 1.728e+03],
       [1.000e+00, 3.000e+00, 1.300e+01, 9.000e+00, 3.900e+01, 1.690e+02,
        2.700e+01, 1.170e+02, 5.070e+02, 2.197e+03],
       [1.000e+00, 4.000e+00, 1.400e+01, 1.600e+01, 5.600e+01, 1.960e+02,
        6.400e+01, 2.240e+02, 7.840e+02, 2.744e+03],
       [1.000e+00, 5.000e+00, 1.500e+01, 2.500e+01, 7.500e+01, 2.250e+02,
        1.250e+02, 3.750e+02, 1.125e+03, 3.375e+03],
       [1.000e+00, 6.000e+00, 1.600e+01, 3.600e+01, 9.600e+01, 2.560e+02,
        2.160e+02, 5.760e+02, 1.536e+03, 4.096e+03],
       [1.000e+00, 7.000e+00, 1.700e+01, 4.900e+01, 1.190e+02, 2.890e+02,
        3.430e+02, 8.330e+02, 2.023e+03, 4.913e+03],
       [1.000e+00, 8.000e+00, 1.800e+01, 6.400e+01, 1.440e+02, 3.240e+02,
        5.120e+02, 1.152e+03, 2.592e+03, 5.832e+03],
       [1.000e+00, 9.000e+00, 1.900e+01, 8.100e+01, 1.710e+02, 3.610e+02,
        7.290e+02, 1.539e+03, 3.249e+03, 6.859e+03]])